/*Master styles*/
body{
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
}
/*h2 {
    line-height: 30px;
    margin-bottom: 40px;
}*/
p{
    hyphens: auto;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
}

/*--------------------Navigation bar styles---------------------*/
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.nav-wrapper > .left-side > div {
    margin-right: 20px;
    text-transform: uppercase;
}
.nav-link-wrapper {
    height: 22px;
    transition: border-bottom 0.5s;
    border-bottom: 1px solid transparent;
}
.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link-wrapper a:hover {
    color: black;
}
.active-nav-link {
    border-bottom: 1px solid black;
}
.active-nav-link a {
    color: black !important;
}
.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}
.left-side {
    display: flex;
}



/*-------------------Introduction styles---------------------*/
.home-page-content-wrapper {
    display: grid;
}
.intro-text-wrapper {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
}
/*
.intro-text-wrapper h1 {
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    overflow: hidden;
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}*/




/*------------------------------Portfolio styles----------------------------*/
/* portfolio buttons */
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.portfolio-item-wrapper {
    position: relative;
}
.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img-text-wrapper {
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.img-text-wrapper .subtitle {
    text-align: center;
    transition: 0.5s;
    color: transparent;
}
.img-text-wrapper:hover .subtitle {
    color: white;
}
.img-darken {
    transition: 0.5s;
    filter: brightness(10%);
}



/* chevron style */
.chevron-layout-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.chevron-wrapper {
    text-align: center;
    padding-bottom: 20px;
}
.chevron-wrapper img {
    filter: invert(100%);
    width: 40px;
}

/* cross style */
.cross-layout-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}
.cross-img-wrapper {
    text-align: right;
}
.cross-img-wrapper img {
    padding-right: 60px;
    opacity: 50%;
    filter: invert(100%);
    width: 30px;
}
.cross-img-wrapper > img:hover {
    opacity: 100%;
    transition: 0.5s;
}


/* project description style */
.portfolio-item-desc-wrapper {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: black;
    color: white;
    display: none;
}
.portfolio-item-text-wrapper {
    padding-left: 30px;
}

.two-col-wrapper-projects {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 70px;
}
.portfolio-image-wrapper img{
    padding-top: 10%;
    width: 90%;
}
.portfolio-image-wrapper iframe{
    width: 90%;
    height: 80%;
}

.portfolio-item-main-body-wrapper {
    padding-bottom: 30px;
}

.equation-wrapper p{
    text-align: center;
}

/* download styles for project page*/
.download-wrapper-black {
    padding-top: 20px;
    text-align: center;
}
.download-wrapper-black a {
    color: #8a8a8a;
    text-decoration: none;
}
.download-wrapper-black:hover a{
    color: white;
    transition: color 0.5s;
}

/*---------------------------------About Me styles-----------------------------*/
.two-col-wrapper {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
}
.profile-content-wrapper {
    padding-top: 5%;
    padding-right: 20%;
}

.profile-img-wrapper img{
    width: 70%;
    padding-left: 20%;
    padding-top: 10%;
}
.profile-main-body-wrapper a {
    color: #8a8a8a;
}
.profile-main-body-wrapper a:hover {
    color: black;
}

/*---------------------------------Downloads-----------------------------*/
.download-headline-wrapper {
    text-align: center;
}

.download-page-content-wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}
.download-wrapper {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    text-align: center;
    padding-top: 20px;
}
.download-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
}
.download-wrapper:hover a{
    color: black;
    transition: color 0.5s;
}

/*-----------------------------------Logo bar styles--------------------------------*/
.logo-bar-wrapper {
    display: flex;
    justify-content: center;
}
.logo-wrapper img{
    filter: brightness(0%);
    opacity: 50%;
    width: 32px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.logo-wrapper:hover img{
    opacity: 100%;
}